<form {{action "sendMessage" on="submit"}}>
  <fieldset>
    <h3 class="mb-3">Envoyer un message</h3>
    {{ input-field
       label="Destinataire"
       placeholder="Numéro de téléphone"
       value=toPhoneNumber
    }}

    <div class="form-group">
      {{ textarea
         value=message
         placeholder="Message"
         class="form-control"
      }}
    </div>

    <button class="btn btn-primary" type="submit">Envoyer</button>
  </fieldset>
</form>

{{#link-to 'dashboard.phone-number.phone-number.cancel'}}
  Annuler mon abonement
{{/link-to}}
