<div class="layout-row layout-align-center-center">
  <div class="layout-column flex-50">
    {{#paper-card as |card|}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Nouveau message</h2>
          <span class="flex"></span>

          {{#paper-menu isOpen=menuThreeIsOpen offset="0 -5" as |menu|}}
            {{#menu.trigger}}
              {{#paper-button iconButton=true}}
                {{paper-icon "more_vert"}}
              {{/paper-button}}
            {{/menu.trigger}}

            {{#menu.content as |content|}}
              {{#content.menu-item onClick=(action (transition-to "dashboard.phone-number.phone-number.cancel"))}}
                <span>Annuler mon abonement</span>
              {{/content.menu-item}}
            {{/menu.content}}
          {{/paper-menu}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-form onSubmit=(action "sendMessage") as |form|}}
        {{#card.content class="layout-column"}}
          {{paper-input placeholder="Phone Number" type="text" value=toPhoneNumber onChange=(action (mut toPhoneNumber)) }}
          {{ paper-input
             textarea=true
             block=true
             label="Message"
             maxlength=160
             passThru=(hash rows=5 maxRows=5)
             value=message
             onChange=(action (mut message))
          }}
        {{/card.content}}

        {{#card.actions}}
          {{#form.submit-button iconButton=true raised=true primary=true }}
            {{paper-icon "send"}}
          {{/form.submit-button}}
        {{/card.actions}}
      {{/paper-form}}
    {{/paper-card}}
  </div>
</div>
