<div class="container h-100">
  <div class="row h-100">
    <div class="col-12 h-100">
      <div class="h-100 row">
        <div class="h-100 col-6">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
