
$primary: "teal";
$accent: "light-green";
$warn: "pink";

// If desired, import the palettes and modify to your liking.
@import "color-palette";
$color-teal: map-merge($color-teal, ('contrast':  $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrast':  $light-contrast-color));


@import 'ember-paper';

@import "../../bower_components/animatewithsass/animate.scss";

.minw-100 { min-width: 100% !important; }
.minh-100 { min-height: 100% !important; }

html, body, body > .ember-view {
  width: 100%;
  height: 100%;
}

.dashboard-view {
  height: 100%;
}

.dark-background {
  background: #444;
}

.light-background {
  background: #fff;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.shake {
  @include shake(
    $duration: .8s
  );
}

.logout-button {
  color: #fff;
}

.pricing-features {
  list-style-type: none;
  padding: 0;

  & li {
    width: 50%;
    float: left;
    padding: 6px 0;
    font-size: 15px;
  }
}

.pricing-action-area {
  background-color: #F9F9F9;
  border-left: 1px solid rgba(0,0,0,0.05);
  padding: 30px;
  text-align: center;
}

.pricing-meta {
  color: #999;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.pricing-price {
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
  padding-bottom: 20px;
}

.pricing-price span {
  display: inline-block;
  vertical-align: top;
  margin: 7px 3px 0 0;
  font-size: 28px;
  font-weight: normal;
}

.price-tenure {
  margin: 10px 0 0 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
}

.pricing {
  border: 1px solid rgba(0,0,0,0.05);
}

.prestine-logo-small, .prestine-logo {
  display: inline-block;
  background-image: url('/assets/images/logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.prestine-logo {
  width: 200px;
  height: 53.66px;
}

.prestine-logo-small {
  width: 111.781px;
  height: 30px;
}

.nav-link {
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

.signup-view, .login-view, .activate-view, .dashboard-view {
  min-height: 100%;
  background-color: #00B28B;
  box-sizing: border-box;

  .white-link {
    color: #ffffff;
  }
}

.signup-view, .login-view, .activate-view {
  padding-top: 50px;
}

.flat-shadow-logo {
  width: 220px;
  height: 220px;
  background-image: url('/assets/images/flat-shadow-logo.png');
  background-size: 100%;
}

.text-logo {
  color: #ffffff;
  font-family: 'Rift';
  font-size: 40pt;
}

.scroll-y {
  overflow-y: scroll;
}

.delimited, .delimited-top, .delimited-right,
.delimited-bottom, .delimited-left
{
  border-style: solid;
  border-color: color($primary, '200');
  border-width: 0;
}
.delimited {
  border-width: 1px;
}
.delimited-top {
  border-top-width: 1px;
}
.delimited-right {
  border-right-width: 1px;
}
.delimited-bottom {
  border-bottom-width: 1px;
}
.delimited-left {
  border-left-width: 1px;
}

@import "phone-dialer.scss";
@import "conversation.scss";

@import 'modules';



/** INFINITE SCROLL **/

#chat-timeline {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  contain: layout;
  will-change: transform;
}

.chat-item {
  display: flex;
  padding: 10px 0;
  width: 100%;
  contain: layout;
  will-change: transform;
}

.avatar {
  border-radius: 500px;
  margin-left: 20px;
  margin-right: 6px;
  min-width: 48px;
}

.chat-item p {
  margin: 0;
  word-wrap: break-word;
  font-size: 13px;
}

.chat-item.tombstone p {
  width: 100%;
  height: 0.5em;
  background-color: #ccc;
  margin: 0.5em 0;
}

.chat-item .bubble img {
  max-width: 100%;
  height: auto;
}

.bubble {
  padding: 7px 10px;
  color: #333;
  background: #fff;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
  position: relative;
  max-width: 420px;
  min-width: 80px;
  margin: 0 5px;
}

.bubble::before {
  content: '';
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 0;
  left: -10px;
}

/*.bubble img {
  width: 80%;
}*/

.meta {
  font-size: 0.8rem;
  color: #999;
  margin-top: 3px;
}

.from-me {
  justify-content: flex-end;
}

.from-me .avatar {
  order: 1;
  margin-left: 6px;
  margin-right: 20px;
}

.from-me .bubble {
  background: #F9D7FF;
}

.from-me .bubble::before {
  left: 100%;
  border-width: 10px 10px 0 0;
  border-color: #F9D7FF transparent transparent transparent;
}
.state {
  display: none;
}
.invisible {
  display: none;
}
