$primary: "teal";
$accent: "light-green";
$warn: "red";

// If desired, import the palettes and modify to your liking.
@import "color-palette";
$color-teal: map-merge($color-teal, ('contrast':  $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrast':  $light-contrast-color));

@import 'ember-paper';

@import "../../bower_components/animatewithsass/animate.scss";

.minw-100 { min-width: 100% !important; }
.minh-100 { min-height: 100% !important; }

.dark-background {
  background: #444;
}

.light-background {
  background: #fff;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.shake {
  @include shake(
    $duration: .8s
  );
}

.logout-button {
  color: #fff;
}

.pricing-features {
  list-style-type: none;
  padding: 0;

  & li {
    width: 50%;
    float: left;
    padding: 6px 0;
    font-size: 15px;
  }
}

.pricing-action-area {
  background-color: #F9F9F9;
  border-left: 1px solid rgba(0,0,0,0.05);
  padding: 30px;
  text-align: center;
}

.pricing-meta {
  color: #999;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.pricing-price {
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
  padding-bottom: 20px;
}

.pricing-price span {
  display: inline-block;
  vertical-align: top;
  margin: 7px 3px 0 0;
  font-size: 28px;
  font-weight: normal;
}

.price-tenure {
  margin: 10px 0 0 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
}

.pricing {
  border: 1px solid rgba(0,0,0,0.05);
}

.nav-link {
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

.app-view {
  min-height: 100vh;
  background-color: #00B28B;
  box-sizing: border-box;
}

.white-link {
  color: #ffffff;
}

.scroll-y {
  overflow-y: scroll;
}

.delimited, .delimited-top, .delimited-right,
.delimited-bottom, .delimited-left
{
  border-style: solid;
  border-color: color($primary, '200');
  border-width: 0;
}
.delimited {
  border-width: 1px;
}
.delimited-top {
  border-top-width: 1px;
}
.delimited-right {
  border-right-width: 1px;
}
.delimited-bottom {
  border-bottom-width: 1px;
}
.delimited-left {
  border-left-width: 1px;
}

@import "phone-dialer.scss";

.phone-number-confirm-phone-number {
  padding: 50px 0;
}

.account-disabled-alert {
  padding: 20px 0;
  width: 100%;
  background: #FF4E4E;
  color: #fff;
  text-align: center;
}

html, body {
  background-color: #4a4a4a;
}

.app-footer {
  text-align: center;
  background-color: #4a4a4a;
  padding: 20px 0;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.prestine-logo, .prestine-logo-dashboard-link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Rift';
  font-weight: normal;
}

.prestine-logo {
  font-size: 40pt;
  margin: 0.67em 0;
}

.prestine-logo-dashboard-link {
  font-size: 30pt;
}
