<style type="text/css">
  body,
  html,
  .body {
    background: #f3f3f3 !important;
  }
  .header {
    background: #f3f3f3;
  }
</style>

<container>
  <row class="header">
    <columns>
      <spacer size="16"></spacer>
      <h4 class="text-center">Prestine</h4>
    </columns>
  </row>
  <row>
    <columns>
      <spacer size="32"></spacer>
      <h1 class="text-center">Finalisez votre inscription</h1>
      <spacer size="16"></spacer>
      <p class="text-center">
        Un compte a été créé sur <a href="https://prestine.io/">prestine.io</a> avec
        l'adresse email: {{email}}.
        <br>
        Pour finaliser votre inscription, cliquez sur le lien ci dessous.
      </p>
      <a class="large expand" href="{{link activationLink}}">Activer mon compte</a>
    </columns>
  </row>
  <spacer size="16"></spacer>
</container>
