{{prestine-logo}}

{{#if isLoading}}
  <div class="layout-column layout-align-center-center">
    {{paper-progress-circular}}
  </div>
{{/if}}

{{#if error}}
  <div class="layout-column layout-align-center-center">
    {{#paper-card as |card|}}
      {{#card.content}}
        <div class="layout-column layout-align-center-center">
          {{error}}
        </div>
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/if}}

{{#unless isLoading}}
  <div class="layout-row layout-align-center">
    <div class="layout-column flex-80 flex-sm-50">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              Choisissez un nouveau mot de passe
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#paper-form onSubmit=(action "submit") as |form|}}
          {{#card.content class="layout-column layout-align-space-between"}}
            {{#animable-content shake=shakePasswordInput}}
              <div class="layout-row">
                <div class="layout-column flex-100">
                  {{form.input label="Mot de passe" value=password type="password" onChange=(action (mut password)) required=true}}
                </div>
              </div>
            {{/animable-content}}
          {{/card.content}}
          {{#card.actions}}
            {{#paper-button onClick=(action (transition-to "login"))}}
              Annuler
            {{/paper-button}}
            {{#form.submit-button disabled=isLoading raised=true primary=true }}
              Valider
            {{/form.submit-button}}
          {{/card.actions}}
        {{/paper-form}}
      {{/paper-card}}
    </div>
  </div>
{{/unless}}
