<div class="layout-column layout-align-center-center">
  {{#paper-card as |card|}}
    {{#card.content}}
      <div class="layout-column layout-align-center-center">
        La création du compte a échoué. Votre code d’activation n’est pas valide.
        <br />
        {{#paper-button raised=true primary=true onClick=(action (transition-to "contact"))}}
          Obtenir de l’aide
        {{/paper-button}}
      </div>
    {{/card.content}}
  {{/paper-card}}
</div>
