<div class="alert alert-danger m-t-1" role="alert">
  La création du compte a échoué. Votre code d’activation n’est pas valide.
  <br />
  <a href="https://support.prestine.io/">Obtenir de l’aide</a>
</div>
