<div class="layout-row layout-align-center">
  <div class="layout-column flex-80">
    {{contact-details
      title="Informations de contact"
      onValidated=(action "contactDetailsValidated")}}
  </div>
</div>
