<div class="signup-view">
  <div class="layout-column layout-align-center-center">
    <div class="flat-shadow-logo"></div>
    <h1 class="text-logo">prestine.io</h1>
  </div>
  <div class="layout-row layout-align-center">
    <div class="layout-column flex-40">
      {{#paper-card as |card|}}
        {{#paper-form onSubmit=(action "submitEmail") as |form|}}
          {{#card.content class="layout-column layout-align-space-between"}}
            {{#animable-content shake=shakeEmailInput}}
            <div class="layout-row">
                <div class="layout-column flex-100">
                    {{form.input label="Adresse e-mail" value=email onChange=(action (mut email))}}
                </div>
            </div>
            {{/animable-content}}
            {{#form.submit-button disabled=isLoading raised=true primary=true }}
              Créer un compte
            {{/form.submit-button}}
          {{/card.content}}
        {{/paper-form}}
      {{/paper-card}}
      {{#paper-button class="white-link" onClick=(action (transition-to "login"))}}
        Je posséde déjà un compte
      {{/paper-button}}
    </div>
  </div>

  <div class="container-fluid minh-100">
    <div class="row">
      <div class="col-8 offset-2 col-4 px-5 py-4 light-background">
        {{#if success}}
          <div class="alert alert-success mt-1" role="alert">
            Vérifiez votre boite mail pour finaliser votre inscription
          </div>
        {{else}}
          {{#if error}}
            <div class="alert alert-danger mt-1" role="alert">{{error}}</div>
            <button {{ action "retry" }}>Réessayer</button>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
