{{#paper-card as |card|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>Mot de passe</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-form onSubmit=(action "updatePassword") as |form|}}
    {{#card.content class="layout-column layout-align-space-between"}}
      <div class="layout-row">
        <div class="layout-column flex-100">
          {{form.input
            label="Mot de passe actuel"
            value=currentPassword
            type="password"
            onChange=(action (mut currentPassword))
            required=true
          }}
        </div>
      </div>
      <div class="layout-row">
        <div class="layout-column flex-100">
          {{form.input
            label="Nouveau mot de passe"
            value=newPassword
            type="password"
            onChange=(action (mut newPassword))
            required=true
          }}
        </div>
      </div>
    {{/card.content}}

    {{#card.actions}}
      {{#form.submit-button disabled=submitButtonDisabled raised=true primary=true }}
        Enregistrer
      {{/form.submit-button}}
    {{/card.actions}}
  {{/paper-form}}
{{/paper-card}}
