<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse">
  {{#link-to "dashboard" class="navbar-brand"}}
    <img src="/assets/images/logo.svg" width="111.781" height="30" class="d-inline-block align-top" alt="">
  {{/link-to}}


  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      {{#link-to "dashboard.settings" class="nav-link"}}
        {{userLinkLabel}}
      {{/link-to}}
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-link logout-button" {{ action "logout" }}>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>
<div class="h-100 pt-3">
  {{outlet}}
</div>
