<div class="dashboard-phone-number-new-view">
  <div class="layout-row layout-align-center">
    <div class="layout-column flex-80">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              Obtenez votre numéro Prestine
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content class="layout-column layout-align-space-between"}}
          <ul class="pricing-features">
            <li>Sans engagement</li>
            <li>Envoyez et recevez des SMS</li>
            <li>Assistance 24/7</li>
            <li>Recevez vos SMS sur votre boite mail</li>
            <li>Numéro de téléphone mobile (06 ou 07)</li>
            <li>Envoyez et recevez depuis et vers l’international</li>
            <li>Aucune carte SIM requise</li>
            <li>Téléphone mobile non requis</li>
          </ul>

          <div class="pricing-action-area">
            <div class="pricing-meta">
              Votre numéro
            </div>
            <div class="pricing-price">
              5<span class="price-unit">&euro;</span>
              <div class="price-tenure">par mois</div>
            </div>
            <div class="pricing-action">
              {{#paper-button onClick=(action "subscribeButtonPressed") raised=true primary=true}}
                Souscrire
              {{/paper-button}}
            </div>
          </div>
        {{/card.content}}
      {{/paper-card}}
    </div>
  </div>

  <div class="layout-row layout-align-center">
    <div class="layout-column flex-80">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              Informations de paiment
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content class="layout-column layout-align-space-between"}}
          {{payment-details onValidated=(action "paymentDetailsValidated")}}
        {{/card.content}}
      {{/paper-card}}
    </div>
  </div>
</div>
