<div class="container-fluid">
  <div class="row">
    <div class="container pricing rounded">
      <div class="row">
        <div class="col-9 py-4 px-3">
          <h3>Obtenez votre numéro Prestine</h3>

          <hr />

          <ul class="pricing-features">
            <li>Sans engagement</li>
            <li>Envoyez et recevez des SMS</li>
            <li>Assistance 24/7</li>
            <li>Recevez vos SMS sur votre boite mail</li>
            <li>Numéro de téléphone mobile (06 ou 07)</li>
            <li>Envoyez et recevez depuis et vers l’international</li>
            <li>Aucune carte SIM requise</li>
            <li>Téléphone mobile non requis</li>
          </ul>
        </div>

        <div class="col-3 pricing-action-area">
          <div class="pricing-meta">
            Votre numéro
          </div>
          <div class="pricing-price">
            5<span class="price-unit">&euro;</span>
            <div class="price-tenure">par mois</div>
          </div>
          <div class="pricing-action">
            <button type="button" class="btn btn-primary button-xlarge btn-block" {{ action "subscribeButtonPressed" }}>
              Souscrire
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
