<div local-class="header">
  {{ input
     local-class="phone-number-input"
     type="text"
     placeholder="Numéro de téléphone"
     value=to
  }}
</div>
<div local-class="conversation" class="flex-grow"></div>
  {{#infinite-scroller}}
    <h1>Bonjour!!!</h1>
  {{/infinite-scroller}}
<div>
  <form {{ action "createConversation" on="submit" }}>
    {{ input placeholder="Message" local-class="message-input" value=message }}
  </form>
</div>
