<div class="container-fluid h-100 d-flex justify-content-center">
  <div class="text-center align-self-center">
    <h2>Patientez un instant</h2>
    <h4>Voila votre nouveau numéro</h4>
    <h2>06 51 64 85 66</h2>
  </div>
</div>
