<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jeffrey</title>
    <meta charset="utf8">
<style>
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.connect-button {
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #322A60;
  padding: 15px 0;
}
</style>
  </head>
  <body>
    <div class="app">
      <a class="connect-button" href="{{ redirectUri }}">
        Continue
      </a>
    </div>
  </body>
</html>
