{{prestine-logo}}

{{#if isLoading}}
  <div class="layout-column layout-align-center-center">
    {{paper-progress-circular}}
  </div>
{{/if}}

{{#if success}}
  <div class="layout-column layout-align-center-center">
    {{#paper-card as |card|}}
      {{#card.content}}
        <div class="layout-column layout-align-center-center">
          Consultez votre boite mail afin de réinitiliser votre mot de passe.
        </div>
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/if}}

{{#if error}}
  <div class="layout-column layout-align-center-center">
    {{#paper-card as |card|}}
      {{#card.content}}
        <div class="layout-column layout-align-center-center">
          {{error}}
        </div>
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/if}}

{{#unless success}}
  {{#unless isLoading}}
    <div class="layout-row layout-align-center">
      <div class="layout-column flex-80 flex-sm-50">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}
                Mot de passe oublié
              {{/text.headline}}
            {{/title.text}}
          {{/card.title}}
          {{#paper-form onSubmit=(action "submit") as |form|}}
            {{#card.content class="layout-column layout-align-space-between"}}
              <div class="layout-row">
                <div class="layout-column flex-100">
                  {{form.input label="Adresse e-mail" value=email onChange=(action (mut email)) required=true}}
                </div>
              </div>
            {{/card.content}}
            {{#card.actions}}
              {{#paper-button onClick=(action (transition-to "login"))}}
                Annuler
              {{/paper-button}}
              {{#form.submit-button disabled=isLoading raised=true primary=true }}
                Valider
              {{/form.submit-button}}
            {{/card.actions}}
          {{/paper-form}}
        {{/paper-card}}
      </div>
    </div>
  {{/unless}}
{{/unless}}
