<h1>Bonjour</h1>

<input
  onChange={{ action "onInputChange" }}
  onKeyDown={{ action "onInputKeyDown" }}
  type="tel"
  value={{ inputValue }}
/>
{{paper-input
  label="Mot de passe"
  type="tel"
  value=inputValue
  onChange=(action "onInputChange")
  onKeyDown=(action "onInputKeyDown")
}}
