<!doctype html>
<html lang="en">
  <head>
    <title>Payout report</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost:8000/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8000/style.css">
  </head>
  <body>
    <h1>Payout Report</h1>
    <h2>Monday, June 18, 2018 (GMT+2)</h2>

    <h3>Global Stats</h3>

    <table>
      <tr>
        <th>Number of missions</th>
        <td>
          123
        </td>
      </tr>
      <tr>
        <th>Average number of missions per user</th>
        <td>
          1
        </td>
      </tr>
      <tr>
        <th>Average number of missions per provider</th>
        <td>
          12
        </td>
      </tr>
    </table>



    <h3>EURO</h3>

    <table>
      <tr>
        <th>Sales Total</th>
        <td>
          (total of missions costs)
          21.240€
        </td>
      </tr>

      <tr>
        <th>Gross income</th>
        <td>
          (10 % of total of missions costs)
          2.124,0€
        </td>
      </tr>

      <tr>
        <th>Min</th>
        <td>
          1.23€
        </td>
      </tr>
      <tr>
        <th>Max</th>
        <td>
          89.29€
        </td>
      </tr>
      <tr>
        <th>AVG</th>
        <td>
          12.29€
        </td>
      </tr>
      <tr>
        <th>Mean</th>
        <td>
          9.29€
        </td>
      </tr>
    </table>

    <h3>Details</h3>

    <h4>Euro</h4>

    <table class="table table-striped table-bordered">
       <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Provider</th>
          <th scope="col">Customer</th>
          <th scope="col">Length</th>
          <th scope="col">Cost (per hour)</th>
          <th scope="col">Total cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            B7B7A962-4972-4DDC-A84E-8F0FE31E3491
          </th>
          <td>Mark Otto</td>
          <td>William Riancho</td>
          <td>2h 30m</td>
          <td>2,40€</td>
          <td>5,40€</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
